<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <div>
            <input type="text" name="city">
            <button type="submit">Search</button>
        </div>
        
    </form>
    
    <div>
        <h2>{{city}}</h2>
        <h3>country code : {{data.country_code}}</h5>
        <h5>coordinate : {{data.coordinate}}</h5>
        <h5>temperature : {{data.temp}}</h5>
        <h5>pressure : {{data.pressure}}</h5>
        <h5>humidity : {{data.humidity}}</h5>
    </div>
</body>
</html>